.direction-rtl {
  direction: rtl; }

.btn--alert, .btn--call {
  left: auto;
  left: unset;
  right: 12px; }
.btn--contact {
  right: auto;
  right: unset;
  left: 12px;
  background-position: center right 15px; }
@media (min-width: 992px) {
  .btn--alert {
    padding: 0 26px 0 0;
    background-position: right 0 center; } }

.header {
  /* ------------- Navigation (Menu) -------------- */
  /* ------------- Listing -------------- */
  /* ------------- Advert -------------- */ }
  .header__nav {
    transform: translateX(-100%); }
    .header__nav--shown {
      transform: translateX(0); }
    .header__nav__top .logo {
      margin-left: 0;
      margin-right: 16px; }
    .header__nav__item {
      text-align: right; }
    .header__nav__footer {
      text-align: right;
      left: auto;
      left: unset;
      right: 24px; }
    @media (min-width: 768px) {
      .header__nav {
        transform: translateX(0); } }
  .header__logo .logo {
    left: auto;
    left: unset;
    right: -32px; }
  @media (min-width: 992px) {
    .header__logo .logo {
      right: -54px; } }
  @media (min-width: 1200px) {
    .header__logo .logo {
      right: 40px; } }
  .header__location__current {
    background-position: right 7px center;
    padding-left: 0;
    padding-right: 26px; }
  .header--advert .header__logo .logo {
    right: 16px; }
  @media (min-width: 992px) {
    .header--advert .header__logo .logo {
      right: 20px; } }
  @media (min-width: 1200px) {
    .header--advert .header__logo .logo {
      right: 40px; } }
  .header__back .input {
    padding: 0 22px 0 0; }
    .header__back .input:after {
      left: auto;
      left: unset;
      right: 6px;
      transform: rotate(-90deg); }

@media (min-width: 992px) {
  .contact-form-area {
    padding-right: 0 !important;
    padding-left: 1rem !important; } }

.content--listing {
  text-align: right; }
@media (min-width: 768px) {
  .content--home__form-area {
    text-align: right; } }
@media (min-width: 992px) {
  .content--home__logo {
    margin: 0 0 6px 30px; } }

/* ------------- Choices Input -------------- */
.choices__inner {
  padding-left: 7.5px;
  padding-right: 36px;
  background-position: right 12px top 10px;
  text-align: right; }
.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  border-left: none;
  border-right: 1px solid #f99c63;
  margin: 0 8px 0 -4px; }
.choices__list--multiple .choices__item[data-deletable] {
  padding-left: 5px;
  padding-right: 10px; }
.choices__heading {
  text-align: right; }
@media (min-width: 768px) {
  .choices__inner {
    padding-right: 42px;
    background-position: right 16px top 15px; } }

/* ------------- Input -------------- */
.input {
  padding-left: 0;
  padding-right: 14px; }
  .input--dropdown {
    background-position: left 10px center; }

/*--------------------------------------------*/
/*                  Home                   */
/*--------------------------------------------*/
@media (min-width: 768px) {
  .title--home {
    text-align: right; } }

@media (min-width: 768px) {
  .form__buttons-row {
    padding-left: 0;
    padding-right: 14px; } }

@media (min-width: 768px) {
  .footer--home__nav {
    padding-right: 0;
    padding-left: 40px; }
    .footer--home__nav > a {
      display: inline-block; }
      .footer--home__nav > a:first-child {
        margin-right: 0;
        margin-left: 24px; } }

/*--------------------------------------------*/
/*                  Listing                   */
/*--------------------------------------------*/
.listing__sort .input {
  padding-left: 0; }
@media (min-width: 768px) {
  .listing__item--large .item__short-description:after {
    right: auto;
    right: unset;
    left: 0;
    background: linear-gradient(90deg, white, rgba(255, 255, 255, 0)); } }
@media (min-width: 992px) {
  .listing__item--large .item__btn--contact-agent {
    right: auto;
    right: unset;
    left: 10px; } }

.item__icon-favorite {
  right: auto;
  right: unset;
  left: 0; }
.item__icon-photos {
  left: auto;
  left: unset;
  right: 8px;
  padding-left: 6px;
  padding-right: 24px;
  background-position: right 6px center; }
.item__added-date {
  left: auto;
  left: unset;
  right: 8px; }
.item__btn--contact-agent {
  right: auto;
  right: unset;
  left: 8px; }

/* ------------- Item Details (Main Bullets) -------------- */
.detail__item__icon {
  margin-right: 0;
  margin-left: 4px; }

/* ------------- Filters -------------- */
.filters {
  transform: translateX(-100%); }
  .filters--shown {
    transform: translateX(0); }
  .filters__header {
    padding-left: 0;
    padding-right: 16px; }
    .filters__header span {
      text-align: right; }
  .filters__group {
    text-align: right; }
  @media (min-width: 768px) {
    .filters {
      transform: translateX(0); } }

/* ------------- Custom Inputs (Radio and Checkbox) -------------- */
.custom-input--radio-checker:first-child .input {
  border-radius: 0 5px 5px 0; }
.custom-input--radio-checker:last-child .input {
  border-radius: 5px 0 0 5px; }
.custom-input--checkbox-checker span {
  padding: 0 38px 0 0;
  background-position: right 12px center; }
.custom-input--small-checkbox span {
  margin-right: 0;
  margin-left: 6px; }
.custom-input--small-checkbox-wrapper:first-child {
  padding-right: 16px !important;
  padding-left: 0; }
.custom-input--small-checkbox-wrapper:last-child {
  padding-left: 16px !important;
  padding-right: 0; }

/* ------------- Listing Pagination -------------- */
.paginator__btn--previous {
  padding-left: 0;
  padding-right: 6px; }
  .paginator__btn--previous:after {
    left: unset;
    right: 6px;
    transform: rotate(-90deg); }
.paginator__btn--next {
  padding-left: 6px;
  padding-right: 0; }
  .paginator__btn--next:after {
    right: auto;
    right: unset;
    left: 6px;
    transform: rotate(90deg); }
.paginator__page .input {
  padding-left: 0;
  padding-right: 8px;
  background-position: left 6px center; }

/* ------------- Modal -------------- */
.modal {
  text-align: right; }

/* ------------- Locations -------------- */
.locations {
  left: auto;
  left: unset;
  right: 0; }
  .locations__header {
    padding-left: 0;
    padding-right: 16px; }
    .locations__header .choices__inner {
      right: 0;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .locations__header .choices__inner {
      border-radius: 0 5px 5px 0; }
    .locations__header .input--distance {
      border-radius: 5px 0 0 5px;
      min-width: 110px; }
    .locations__header .choices .choices__list--multiple .choices__item:first-child {
      margin-right: 0;
      margin-left: 100%; }
    .locations__header .choices .choices__counter {
      right: auto;
      right: unset;
      left: 1px;
      padding-left: 0;
      padding-right: 22px;
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.92) 50%); } }
  @media (min-width: 992px) {
    .locations__header .choices__inner {
      padding-left: 5px;
      padding-right: 36px;
      background-position: right 12px top 10px; } }
  @media (min-width: 1200px) {
    .locations__header .input--distance {
      min-width: 130px; } }

/*--------------------------------------------*/
/*                  Advert                   */
/*--------------------------------------------*/
.content-side {
  text-align: right; }

.item-page__content .item__btn-favorite {
  border-radius: 0 5px 5px 0;
  background-position: center right 14px; }
.item-page__content .item__btn-share {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #dadada;
  border-right: none; }

.copy__message {
  padding: 10px 42px 10px 20px;
  background-position: center right 17px; }

.contact-form {
  text-align: right; }
  .contact-form .text-right {
    text-align: left !important; }
  @media (min-width: 992px) {
    .contact-form .item__btn-favorite {
      border-left: 1px solid #dadada;
      border-right: none;
      border-top-right-radius: 0; }
    .contact-form .item__btn-share {
      border-radius: 0; }
    .contact-form .item__btn-print {
      border-left: none;
      border-bottom-left-radius: 5px; } }

@media (min-width: 992px) {
  .breadcrumbs__row {
    text-align: right; }
  .breadcrumbs__item {
    display: inline-block; } }

.description__block .detail__item__icon {
  margin-right: 4px;
  margin-left: 8px; }
@media (min-width: 992px) {
  .description__block.pr-lg-0.pl-lg-2 {
    padding-left: 0 !important;
    padding-right: 0.5rem !important; }
  .description__block.pl-lg-0.pr-lg-2 {
    padding-right: 0 !important;
    padding-left: 0.5rem !important; } }

.photos-gallery .swiper-button-next {
  transform: rotate(180deg); }
.photos-gallery .swiper-button-prev {
  transform: rotate(180deg); }

/*** For IE and MS Edge ***/
@supports (-ms-ime-align: auto) {
  @media (min-width: 992px) {
    .contact-form-area {
      position: relative; } } }
.list-unstyled {
  padding-right: 0; }

.list-inline-item:not(:last-child) {
  margin-right: 0;
  margin-left: 0.5rem; }

/*# sourceMappingURL=rtl.css.map */
