@include media-breakpoint-up(xs) {
  /*--------------------------------------------*/
  /*                   Home                     */
  /*--------------------------------------------*/
  .content {
    &--home {
      padding: 0 24px 48px 24px;
    }
    &--home__logo {
      height: 50px;
      display: block;
      margin: 30px auto 50px;
    }
  }
  .title {
    font-family: "Montserrat Bold";
    font-size: 2em;
    color: $darkgray;
    margin-top: 0;
    &--home {
      text-align: center;
      margin-bottom: 0.7em;
    }
  }
  .subtitle{
    &--home {
      display: none;
    }
  }
  /* ------------- Input -------------- */
  .input {
    width: 100%;
    height: 46px;
    border-radius: 5px;
    border:1px solid $lightgray;
    color:$darkgray;
    background-color: #fff;
    outline:none;
    padding-left: 14px;
    font-family: "OpenSans Regular";
    transition: border-color .11s ease-out, background-color .11s ease-out;
    font-size: 1em;
    &:focus{
      border-color:$gray;
      box-shadow: none;
    }
    &--location {
      background-image: url("../../src/img/icon-location.svg");
      background-position: left 12px center;
      background-size: 16px;
      background-repeat: no-repeat;
      padding-left: 36px;
      margin-bottom: 14px;
      font-size: 1.02em;
    }
    &--dropdown {
      background-image: url(../../src/img/icon-dropdown.svg);
      background-position: right 10px center;
      background-size: 8px;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      cursor: pointer;
    }
  }
  /* ------------- Form (Location) -------------- */
  .buttons-row {
    &__btn {
      max-width: calc(50% - 8px);
    }
  }
  .form {
    &--location{
      &__input-area {
        position: relative;
      }
    }
  }
  .input--location {
    &__results {
      display: none;
      position: absolute;
      top: 46px;
      border: 1px solid $lightgray;
      border-top: none;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      max-height: 215px;
      overflow-y: scroll;
      background: #fff;
      z-index: 2;
      font-family: "OpenSans Regular";
      .locations__list {
        display: block;
        &__item {
          padding: 10px 14px;
          background-image: none;
          &:last-child {
            border-bottom: none;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
      }
    }
  }
  /*--------------------------------------------*/
  /*                  Listing                   */
  /*--------------------------------------------*/
  .content {
    &--listing {
      padding: 0 16px;
      &__grid {
        padding-top: 16px;
        margin-bottom: 32px;
      }
    }
  }
  /* ------------- Listing -------------- */
  .listing {
    &__filters-info,
    &__results-info {
      color:$darkgray;
      font-size: 0.8em;
      font-family: "OpenSans Regular";
    }
    &__filters-info {
      padding-top: 64px;
      margin-bottom: 6px;
    }
    &__sort {
      width: 120px;
      max-width: 120px;
    }
    &__results-info {
      & > b {
        font-size:1.2em;
        font-weight: normal;
        font-family: "OpenSans Bold";
      }
    }
    &__item {
      width: 100%;
      border:1px solid $lightgray;
      border-radius: 5px;
      color:$darkgray;
      overflow: hidden;
      margin-bottom: 24px;
      position: relative;
      font-family: "OpenSans Regular";
    }
    &__sort {
      .input {
        height: 30px;
        font-size: 0.8em;
        padding-left: 6px;
      }
    }
  }
  /* ------------- Icons -------------- */
  .icon {
    background-color: transparent;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    &--area {
      background-image: url(../../src/img/icon-area.svg);
    }
    &--room {
      background-image: url(../../src/img/icon-room.svg);
    }
    &--bedroom {
      background-image: url(../../src/img/icon-bedroom.svg);
    }
    &--photos {
      background-image: url(../../src/img/icon-camera.svg);
    }
    &--favorite {
      background-image: url(../../src/img/icon-favorite.svg);
      &-added {
        background-image: url(../../src/img/icon-favorite-added.svg);
        animation-name:icon-favorites-added;
        animation-timing-function: cubic-bezier(0.35, 0.56, 0.52, 1.39);
        animation-duration: 220ms;
        animation-iteration-count: 1;
        animation-play-state: running;
      }
    }
  }
  /* ------------- Animation Favorite -------------- */
  @keyframes icon-favorites-added {
    0% {  transform: scale(1);  }
    75% {  transform: scale(0.9);  }
    100% {  transform: scale(1);  }
  }
  /* ------------- Listing Item -------------- */
  .item {
    &__img-area {
      background: $lightgray;
      position: relative;
      &:after {
        content:'';
        display: block;
        padding-bottom: calc(100% / 1.5);
      }
      .swiper {
        &-container {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &-slide {
          & > img {
            width: 100%;
          }
        }
        &-pagination-bullet {
          width: 6px;
          height: 6px;
          background: #fff;
          opacity: 0.5;
        }
        &-pagination-bullet-active {
          opacity: 1;
          background: $orange-primary;
        }
        &-container-horizontal {
          & > .swiper-pagination-bullets {
            bottom: 0;
            height: 24px;
          }
        }
      }
    }
    &__content-area {
      padding: 8px 8px 44px 8px;
      position: relative;
    }
    &__price {
      font-family: "Montserrat Bold";
      -webkit-appearance: none;
      font-size: 1.2em;
      color:$orange-primary;
      margin: 4px 0;
    }
    &__location {
      font-size:0.8em;
      margin: 0 0 4px 0;
    }
    &__added-date,
    &__btn--contact-agent {
      position: absolute;
      bottom: 8px;
    }
    &__added-date {
      font-size: 0.7em;
      color: var(--gray);
      left: 8px;
    }
    &__btn--contact-agent {
      width: 136px;
      height: 36px;
      font-size:0.8em;
      right: 8px;
      &:hover,
      &:active {
        background: $orange-hover;
        border-color: $orange-hover;
        color:#fff;
      }
    }
    &__main-details {
      font-size: 0.8em;
      margin-bottom: 8px;
    }
    &__icon-favorite {
      position: absolute;
      /*top:8px;*/
      /*right:8px;*/
      /*width: 27px;*/
      /*height: 24px;*/
      filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.3));
      z-index: 2;
      /* for more clickable area */
      background-size: 27px;
      width: 45px;
      height: 40px;
      top: 0;
      right: 0;
    }
    &__icon-photos {
      opacity: .8;
      position: absolute;
      left:8px;
      top:8px;
      height: 20px;
      min-width: 28px;
      background-color: rgba(0,0,0,0.7);
      background-size: 14px;
      background-position: 6px center;
      color:#fff;
      z-index: 2;
      border-radius: 5px;
      padding-left: 24px;
      padding-right: 6px;
      font-family: "Montserrat Regular";
      font-size: 0.8em;
      font-style: normal;
    }
    &__link {
      text-decoration: none;
      color:inherit;
      &:hover,
      &:active {
        color:inherit;
        text-decoration: none;
      }
      &--overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  /* ------------- Item Details (Main Bullets) -------------- */
  .detail {
    &__item{
      &:not(:last-child):after {
        content:'';
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: $lightgray;
        margin: 0 4px;
      }
      & > sup {
        font-size: 0.6em;
      }
      &__icon {
        margin-right: 4px;
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
      }
    }
  }
  /* ------------- Filters -------------- */
  .filters {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: #fff;
    transform: translateX(100%);
    transition: .18s ease-out;
    z-index: 10;
    &--shown {
      transform: translateX(0);
    }
    &__header {
      padding-left: 16px;
      position: fixed;
      z-index: 11;
      width: 100%;
      span {
        font-family: "Montserrat Regular";
        color:$darkgray;
        font-size: 1.02em;
      }
    }
    &__content {
      padding: 74px 24px;
      overflow-y: scroll;
      height: 100%;
    }
    .input {
      height: 36px;
      font-size: 0.9em;
    }
    &__group {
      margin-bottom: 16px;
      label {
        font-size: 0.9em;
        color:$darkgray;
        font-family: "OpenSans Regular";
      }
      .input {
        max-width: calc(50% - 8px);
      }
      &--checker {
        margin-bottom: 24px;
      }
    }
   &__buttons-row {
     position: fixed;
     bottom:0;
     left:0;
     right: 0;
     width: 100%;
     padding:12px 12px;
     background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7));
     .btn {
       max-width: calc(50% - 8px);
       height: 46px;
       font-size: 0.8em;
       box-shadow: 0 1px 8px 0 rgba(0,0,0,0.24);
       border:none;
       &--clear {
         color:$darkgray;
       }
       &--apply {
         &:hover,
         &:active {
           background: $orange-hover;
           border-color: $orange-hover;
           color:#fff;
         }
       }
     }
   }
  }
  /* ------------- Custom Inputs (Radio and Checkbox) -------------- */
  .custom-input {
    &--radio-checker {
      cursor: pointer;
      margin: 0;
      & > input {
        display: none;
        &:checked + span {
          border-color: $orange-primary;
          background-color: $orange-primary;
          color:#fff;
        }
      }
      span {
        padding: 0;
      }
      &:first-child {
        .input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &:last-child {
        .input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    &--checkbox-checker {
      cursor: pointer;
      margin: 0;
      & > input {
        display: none;
        &:checked + span {
          border-color: $orange-primary;
          background-image: url("../../src/img/icon-check-white.svg");
          background-color: $orange-primary;
          color:#fff;
        }
      }
      span {
        padding: 0 0 0 38px;
        background-image: url("../../src/img/icon-check.svg");
        background-position: left 12px center;
        background-size: 16px;
        background-repeat: no-repeat;
      }
    }
  }
  /* ------------- Locations in Header -------------- */
  .locations {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: #fff;
    transition: .18s ease-out;
    z-index: -1;
    font-family: "OpenSans Regular";
    &__header {
      padding-left: 16px;
      .input--location {
        height: 36px;
        margin: 0;
        font-family: "OpenSans Bold";
        color:$darkblue;
        background-image: none;
        padding-left: 14px;
      }
    }
    &__list {
      padding: 0;
      margin: 0;
      &__item {
        list-style: none;
        margin: 0;
        padding: 10px 10px 10px 26px;
        border-bottom: 1px solid $gray-200;
        color: $darkgray;
        cursor: pointer;
        font-size: 1em;
        background-image: url("../../src/img/icon-location.svg");
        background-position: left 8px center;
        background-size: 10px;
        background-repeat: no-repeat;
        &:hover {
          background-color: $gray-100;
        }
      }
    }
    &--shown {
      display: block;
      z-index: 10;
      opacity: 1;
    }
  }
  /* ------------- Listing Pagination -------------- */
  .paginator {
    padding-bottom: 70px;
    font-size: 0.8em;
    &__btn {
      cursor: pointer;
      height: 36px;
      text-align: center;
      padding: 0;
      position: relative;
      &:after {
        content:'';
        position: absolute;
        top:12px;
        width: 10px;
        height: 10px;
        background-image: url(../../src/img/icon-dropdown.svg);
        background-position: center;
        background-size: 8px;
        background-repeat: no-repeat;
      }
      &--previous {
        padding-left: 6px;
        &:after {
          left:6px;
          transform: rotate(90deg);
        }
      }
      &--next{
        padding-right: 6px;
        &:after {
          right:6px;
          transform: rotate(-90deg);
        }
      }
      &:hover,
      &:active {
        background: $lightgray;
      }
    }
    &__page {
      color:$darkgray;
      margin: 0 -16px;
      .input {
        height: 36px;
        width: auto;
        min-width: 40px;
        padding-left: 8px;
        background-position: right 6px center;
      }
    }
  }
  /* ------------- Modal -------------- */
  .modal {
    font-family: "OpenSans Regular";
    &-content {
      border-radius: 5px;
      border:none;
      box-shadow: 0 1px 8px 0 rgba(0,0,0,0.24);
    }
    &-body,
    &-footer,
    &-header {
      padding-right: 24px;
      padding-left: 24px;
      border: none;
    }
    &-body {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-header {
      padding: 24px 24px 12px 24px;
    }
    &-title {
      font-family: "Montserrat Regular";
      color:$orange-primary;
      font-size: 1.1em;
    }
    &-footer {
      padding-bottom: 12px;
      & > .btn {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &-form {
      & > .form-group:last-child {
        margin-bottom: 0;
      }
    }
    &.fade {
      .modal-dialog {
        transform: translate3d(0, 80vh, 0);
      }
      .btn--modal-close {
        transition: transform .25s ease-out;
        transform-origin: 50% 50%;
        transform: translateY(70px) rotate(360deg);
      }
    }
    &.show {
      .modal-dialog {
        transform: translate3d(0, 0, 0);
      }
      .btn--modal-close {
        transform: translateY(0px) rotate(0deg);
      }
    }
    &-backdrop {
      background: $darkblue;
    }
    .form-group {
      margin-bottom: 8px;
      label {
        margin-bottom: 4px;
        font-size: 0.8em;
        color:$darkgray;
      }
    }
    .link {
      &--forgot-pass {
        font-size: .9em;
        color:$darkgray;
        text-decoration: underline;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  /* ------------- Wrapper -------------- */
  .wrapper {
    &--home {
      height: 100vh;
      min-height: 580px;
      position: relative;
    }
    &--listing {
      .container {
        max-width: 1400px;
        padding: 0 24px;
      }
    }
  }
  /* ------------- Content Part (Home) -------------- */
  .content {
    &--home {
      max-width: 690px;
      margin: 60px auto;
      padding: 0;
      &__logo {
        height: 62px;
      }
      &__form-area {
        width: 690px;
      }
    }
  }
  .title {
    &--home {
      text-align: left;
      margin-bottom: 10px;
      font-size: 2.34em;
    }
  }
  .subtitle {
    &--home {
      font-family: "OpenSans Regular";
      font-size: 1.34em;
      color: $darkgray;
      margin: 0 0 24px;
      & > b {
        font-family: "OpenSans Semibold";
      }
    }
  }
  /* ------------- Form (Location) -------------- */
  .form {
    &--location{
      &__input-area {
        .input {
          font-size: 1.1em;
        }
      }
    }
  }
  .input {
    &--location {
      height: 56px;
      background-position: left 16px center;
      padding-left: 42px;
      &__results {
        top: 56px;
      }
    }
  }
  .form {
    &__buttons-row {
      max-width: 306px;
      padding-left: 14px;
    }
  }
  .buttons-row {
    &__btn {
      font-size: 1.1em;
      height: 56px;
    }
  }
  /* ------------- Content Part (Listing) -------------- */
  .listing {
    &__item {
      max-width: calc(50% - 12px);
    }
    &__filters-info {
      padding-top: 184px;
    }
  }
  /* ------------- Listing Pagination -------------- */
  .paginator {
    &__page {
      .input {
        min-width: 60px;
      }
    }
  }
  /* ------------- Locations -------------- */
  .locations {
    position: relative;
    opacity: 1;
    z-index: 1;
    &__list {
      display: none;
    }
    &__header {
      .input {
        &--location {
          height: 36px;
          background-size: 12px;
          background-image: url(../../src/img/icon-location.svg);
          padding-left: 28px;
          background-position: left 10px center;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          max-width: 210px;
        }
        &--distance {
          height: 36px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          font-size: 0.8em;
          max-width: 110px;
        }
      }
    }
    &__content {
      display: none;
      max-height: 215px;
      overflow-y: scroll;
      background: #fff;
      border: 1px solid $lightgray;
      border-top: none;
      top: 66px;
      position: absolute;
      width: calc(100% - 16px);
      left: 16px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      .locations__list {
        display: block;
      }
    }
  }
  /* ------------- Filters -------------- */
  .filters {
    height: auto;
    transform: translate(0);
    top: 50px;
    left: auto;
    z-index: 5;
    background: none;
    &__content {
      padding: 0;
      overflow: visible;
      perspective: 2000px;
      perspective-origin: top;
      transform-style: preserve-3d;
    }
    &__buttons-row {
      position: relative;
      background: rgba(218, 218, 218, 0.2);
      padding: 24px 0;
      .btn {
        max-width: 142px;
        font-size: 0.9em;
        box-shadow: none;
        border: 1px solid $lightgray;
        margin-left: 12px;
      }
    }
    &__group {
      margin-bottom: 20px;
      padding-top: 20px;
      &--btn-area {
        margin-bottom: 6px;
        padding-top: 0;
      }
      .filters__btn--more {
        max-width: 100%;
        &:hover {
          background-color: $lightgray;
        }
        &.active {
          background-image: url(../../src/img/icon-dropup.svg);
          background-color: $lightgray;
        }
      }
      label {
        position: absolute;
        top: 12px;
        font-size: 0.72em;
        margin-bottom: 0;
      }
      &__value {
        font-family: "OpenSans Regular";
        color:$darkgray;
        margin: 4px 0;
        sup {
          font-size: 0.6em;
        }
      }
    }
    &__part {
      background: #fff;
      &--top {
        border-bottom: 1px solid $lightgray;
      }
      &--bottom {
        padding-top: 6px;
        position:absolute;
        width: 100%;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
        transform-origin: top;
        backface-visibility: hidden;
        transform: rotateX(-90deg);
        transition: .18s ease-out;
        &--visible {
          transform: rotateX(0deg);
        }
      }
    }
    &__check-row {
      padding-top:10px;
    }
    &__overlay {
      transition: opacity .12s ease-out .02s, z-index .01s linear .01s;
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.2);
      z-index: 4;
      opacity: 0;
      display: none;
      &--visible {
        opacity: 1;
        display: block;
      }
    }
  }
  /* ------------- Range Sliders -------------- */
  .noUi {
    &-horizontal {
      height: 4px;
      .noUi-handle {
        width: 18px;
        height: 18px;
      }
    }
    &-target {
      background: $lightgray;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }
    &-connect {
      background: $orange-primary;
    }
    &-handle {
      outline:none;
      border: 1px solid $lightgray;
      border-radius: 18px;
      cursor: pointer;
      box-shadow: none;
      &:after,
      &:before {
        display: none;
      }
    }
  }
  /* ------------- Modal -------------- */
  .modal {
    &.fade {
      .modal-dialog {
        transform: translate3d(0, 0, 0);
      }
      .btn--modal-close {
        display: none;
      }
    }
    &.show {
      .modal-dialog {
        transform: translate3d(0, 0, 0);
      }
    }
    &-dialog {
      max-width: 420px;
    }
    &-body,
    &-footer,
    &-header {
      padding-right: 34px;
      padding-left: 34px;
    }
    &-header {
      padding-top: 34px;
    }
    &-footer {
      padding-bottom: 22px;
    }
  }
}

@include media-breakpoint-up(lg) {
  /* ------------- Wrapper -------------- */
  .wrapper {
    &--home {
      min-height: 680px;
    }
  }
  /* ------------- Content -------------- */
  .content {
    &--home {
      max-width: 910px;
      margin: 160px auto;
      &__logo {
        height: 75px;
        margin: 0 30px 4px 0;
      }
    }
  }
  /* ------------- Listing -------------- */
  .listing {
    &__item {
      max-width: 100%;
      max-height: 260px;
    }
    &__results-info,
    &__filters-info {
      font-size: 0.9em;
    }
    &__filters-info {
      padding-top: 174px;
      padding-bottom: 10px;
      margin-bottom: 24px;
      background: rgba(218, 218, 218, 0.2);
      .text-separator {
        font-family: "Montserrat Regular";
        color:$gray;
        font-size: 0.8em;
        margin: 0 12px;
      }
    }
    &__results-info {
      & > b {
        font-size: 1.3em;
      }
    }
  }
  /* ------------- Listing Item -------------- */
  .item {
    &__img-area {
      background: #fff;
      width: calc(50% * 1.06);
      min-width: calc(50% * 1.06);
      max-width: calc(50% * 1.06);
      .swiper-container {
        display: none;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
      }
      &:after {
        padding-bottom: calc(100% / 2);
      }
    }
    &__img {
      &--main {
        width: 80%;
        height: 100%;
        background: darkgrey;
        overflow: hidden;
        img {
          height: 106%;
          display: block;
        }
      }
      &--miniatures-col {
        height: 100%;
        width: 30%;
        max-width: 128px;
        margin-left: 1px;
        img {
          height: 102%;
        }
        .img-miniature-area {
          width: 100%;
          background: darkgrey;
          overflow: hidden;
          flex:1;
        }
        .img-miniature-area:not(:last-child) {
          margin-bottom: 1px;
        }
      }
    }
    &__content-area {
      padding: 8px 12px 60px 12px;
    }
    &__price {
      font-size: 1.5em;
      margin:0;
    }
    &__location {
      font-size: 0.9em;
      margin-bottom: 16px;
    }
    &__main-details {
      font-size: 0.9em;
      margin-bottom: 16px;
    }
    &__description {
      font-size: 0.9em;
      line-height: 1.3em;
      max-height: 3.9em;
      overflow: hidden;
      position: relative;
      &:after {
        content:'';
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(-90deg, rgba(255,255,255,1),rgba(255,255,255,0));
        width: 60px;
        height: 1.3em;
      }
    }
    &__added-date,
    &__btn--contact-agent {
      bottom: 12px;
    }
    &__added-date {
      left: 12px;
    }
    &__btn--contact-agent {
      right: 10px;
    }
  }
  /* ------------- Item Details (Main Bullets) -------------- */
  .detail {
    &__item {
      &:not(:last-child):after {
        margin: 0 10px;
      }
      &__icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }
  .icon {
    &--favorite {
      cursor:pointer;
      width: 50px;
      height: 44px;
      filter:none;
      background-image: url(../../src/img/icon-favorite-d.svg);
      &-added {
        background-image: url(../../src/img/icon-favorite-added-d.svg);
      }
    }
  }
  /* ------------- Related Links Column -------------- */
  .related {
    font-family: "OpenSans Regular";
    &__title {
      color:$darkgray;
      font-size: 1em;
      margin-bottom: 12px;
    }
    &__list {
      padding: 0 0 24px 0;
      margin: 0 0 24px 0;
      border-bottom: 1px solid $lightgray;
      &:last-child {
        border-bottom: none;
      }
      &__item {
        list-style: none;
        padding: 0;
        line-height: 1.2em;
        margin-bottom: 6px;
        & > a {
          color:$gray;
          font-size: 0.9em;
        }
      }
    }
  }
  /* ------------- Locations -------------- */
  .locations {
    position: relative;
    opacity: 1;
    z-index: 1;
    &__list {
      display: none;
    }
    &__header {
      .input {
        height: 46px;
        &--location {
          background-size: 16px;
          background-image: url(../../src/img/icon-location.svg);
          padding-left: 36px;
          background-position: left 12px center;
          font-size: 1.1em;
        }
        &--distance {
          font-size: 0.9em;
        }
      }
    }
  }
  /* ------------- Filters -------------- */
  .filters {
    top:86px;
    &__group {
      &--btn-area {
        margin-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
  /* ------------- Listing Pagination -------------- */
  .paginator {
    font-size: 0.9em;
    &__btn {
      height: 46px;
    }
  }
}
@include media-breakpoint-up(xl) {
  /* ------------- Content -------------- */
  .content {
    &--listing {
      padding: 0 24px;
      &__grid {
        padding-top: 24px;
      }
    }
  }
  /* ------------- Locations -------------- */
  .locations {
    &__header {
      .input {
        &--location {
          max-width: none;
        }
        &--distance {
          max-width: 130px;
        }
      }
    }
  }
}

/* ------------- iPad -------------- */
@media only screen
and (min-device-width : 768px)
and (orientation : portrait) {
  .content--home {
    margin: 140px auto;
  }
}

/* ------------- iPad Pro -------------- */
@media only screen
and (min-device-width : 1024px)
and (orientation : portrait) {
  .content--home {
    margin: 260px auto;
  }
}