/* ------------- Home -------------- */
.wrapper {
    &--chat {
        height: 100vh;
        @include media-breakpoint-up(lg) {
            min-height: 610px;
        }
    }
}

.content {
    /* ------------- Content Part (Chat) -------------- */
    &--chat {
        .card {
            @include media-breakpoint-up(lg) {
                border-width: 1px;
            }
        }
    }
}

