/* ------------- Home -------------- */
.wrapper {
    &--chat {
        height: 100vh;
        @include media-breakpoint-up(md) {
            min-height: 610px;
        }
    }
}

.card-group {
    & > .card {
        flex: 0 0 100%;
        &:not(:first-child):not(:last-child):not(:only-child) {
            border-top-right-radius: $card-border-radius;
            border-bottom-right-radius: $card-border-radius;
        }

        @include media-breakpoint-up(md) {
            border-width: 1px;
        }
    }

    @include media-breakpoint-up(md) {
        height: calc(100vh - 265px);
    }
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 300px);
    }
}

.card-header {
    font-weight: 600;
    font-size: 18px;
    height: 72px;
    .card-subtitle {
        display: block;
        font-size: 12px;
        &.smaller {
            font-size: $smaller-font-size;
            margin-top: -0.1rem;
            color: $gray;
            @include media-breakpoint-up(md) {
                color: $white;
                opacity: 0.6;
            }
        } 
    }
    &-title {
        overflow: auto hidden;        
    }
    .icon--arrow {
        transform: rotate(90deg);
        width: 1rem;
        height: 1rem;
        background-size:  auto;
        cursor: pointer;
    }
    
    @include media-breakpoint-up(md) {
        background: $primary;
        color: $white;
    }
}

.card-animated {
    flex: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    min-height: 380px;
    background: #fff;
    transform: translateX(100%);
    transition: .18s ease-out;
    z-index: 10;
    .card-header {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        border-bottom: 1px solid $lightgray;
        @include media-breakpoint-up(md) {
            border-bottom: none;
        }
    }
    &.show {
        transform: translateX(0);
    }
    .card-body {
        font-family: 'OpenSans Regular';
        max-height: calc(100% - 128px);
        overflow-y: auto;
    }
    .card-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        font-family: 'OpenSans Regular';
        font-size: 0.9em;
        width: 100%;
        .input {
            width: calc(100% - 52px);
            border-radius: 8px;
            height: 40px;
        }
        .btn {
            position: relative;
            width: 40px;
            height: 40px;
            bottom: auto;
            bottom: unset;
            left: auto;
            left: unset;
            margin-left: 0.75rem;
            box-shadow: none;
            transition: $transition-base;
            &--call {
                display: block;
            }
            &--send {
                display: none;
            }
        }
        .icon--file {
            position: absolute;
            width: 24px;
            height: 24px;
            left: 28px;
            top: 16px;
            cursor: pointer;
        }
        &.focused {
            .btn {
                &--call {
                    display: none;
                }
                &--send {
                    display: block;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
      transform: translateX(0);
      position: relative;
      flex: 1;
      height: 100%;
      min-height: 100%;
      overflow: auto;
      z-index: 1;
    }

    @include media-breakpoint-up(md) {
        transform: translateX(0);
        position: absolute;
        width: 100%;
        height: 100%;
        left: auto;
        left: unset;
        right: 0;
        min-height: 100%;
        overflow: auto;
        z-index: 1;
    }
}

.chat {
    &-item {
        &:hover {
            text-decoration: none;
            color: $primary;
        }
        &.active {
            @include media-breakpoint-up(md) {
                background: $light;
            }
        }
    }
}

.date-separator {
    overflow: hidden;
    &:before,
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: $lightgray;
      border: solid $white;
      border-width: 0 0.5rem;
    }
    &:before {
        margin-left: -100%;
    }
    &:after {
        margin-right: -100%;
    }
}
  
.speech-bubble {
    border-radius: $border-radius-lg;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: left;
    position: relative;
    margin-bottom: 1rem;
    max-width: calc(100% - 28px);
    .doc-size { 
        padding: 0 0.75rem 0.25rem;
    }
    .time-sent {
        padding: 0 0.75rem 0.25rem;
        text-align: right;
        .doc-size { 
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    .text-msg {
        padding: 0.5rem 0.75rem 0;
    }
    .img-msg {
        max-width: 228px;
        & ~ .time-sent { 
            position: absolute;
            bottom: 0;
            right: 0;
            color: $white;
        }

        @include media-breakpoint-up(md) {
            max-width: 244px;
        }
    }
    .doc-msg {
        max-width: 228px;
        min-width: 140px;
        padding: 0.5rem 0.75rem 0.5rem 2.5rem;
        background-image: $icon-doc-white;
        background-repeat: no-repeat;
        background-position: 0.75rem center;
        min-height: 42px;
        display: flex;
        align-items: center;
        & > small {
            display: block;
            line-height: 1.3;
        }      

        @include media-breakpoint-up(md) {
            max-width: 244px;
        }
    }

    &--left {
        background-color: $gray-400;
        border-top-left-radius: 0;
        color: $dark;
        .time-sent {
            color: $gray;
        }
        .doc-size {
            color: $gray;
        }
        .doc-msg {
            background-image: $icon-doc;
            padding-right: 3.25rem; 
            font-family: 'OpenSans Bold'; 
            .icon--download {
                position: absolute;
                top: 0.5rem;
                right: 0.75rem;
            }
        }  
    }
    &--right {
        background-color: $primary;
        border-top-right-radius: 0;
        color: $white;
        align-self: flex-end;
    }

    @include media-breakpoint-up(md) {
        max-width: 75%;
    }
}
  