/* ------------- Home -------------- */
.wrapper {
    &--chat {
        height: 100vh;
        @include media-breakpoint-up(md) {
            min-height: 610px;
        }
    }
}

.card-group {
    & > .card {
        flex: 0 0 100%;
        @include media-breakpoint-up(md) {
            border-width: 1px;
        }
    }

    @include media-breakpoint-up(md) {
        height: calc(100vh - 265px);
    }
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 300px);
    }
}

.card-header {
    font-weight: 600;
    font-size: 18px;
    height: 72px;
    .card-subtitle {
        display: block;
        font-size: 12px;
        &.smaller {
            font-size: $smaller-font-size;
            margin-top: -0.1rem;
            color: $gray;
            @include media-breakpoint-up(md) {
                color: $white;
                opacity: 0.6;
            }
        } 
    }
    &-title {
        overflow: auto hidden;
        
    }
    .icon--arrow {
        transform: rotate(90deg);
        width: 1rem;
        height: 1rem;
        background-size:  auto;
        cursor: pointer;
    }
    
    @include media-breakpoint-up(md) {
        background: $primary;
        color: $white;
    }
}

.card-animated {
    flex: none;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 380px;
    background: #fff;
    transform: translateX(100%);
    transition: .18s ease-out;
    z-index: 10;

    &.show {
        transform: translateX(0);
    }

    @include media-breakpoint-up(md) {
        transform: translateX(0);
        position: relative;
        flex: 1;
        height: 100%;
        min-height: 100%;
        overflow: auto;
        z-index: 1;
    }
}

.chat {
    &-item {
        &:hover {
            text-decoration: none;
            color: $primary;
            @include media-breakpoint-up(md) {
                background: $light;
            }
        }
    }
}




  