/* ------------- Global -------------- */
a.nounderline {
    text-decoration: none !important
}

.smaller {
  font-size: $smaller-font-size;
}

.font-weight-semi {
    font-family: 'OpenSans Semibold';
}

.dropdown-menu {
    box-shadow: $dropdown-box-shadow;
}
/* ------------- Animation Favorite -------------- */
@keyframes icon-favorites-added {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/* ------------- Wrapper -------------- */
.wrapper {
    min-height: 400px;
    position: relative;
}

.title {
    font-family: "Montserrat Bold";
    font-size: 2em;
    color: $darkgray;
    margin-top: 0;
    &.smaller {
      font-size: 18px;
    }
}

/* ------------- Input -------------- */
.input {
    width: 100%;
    height: 46px;
    border-radius: 5px;
    border: 1px solid $lightgray;
    color: $darkgray;
    background-color: #fff;
    outline: none;
    padding-left: 14px;
    font-family: "OpenSans Regular";
    transition: border-color .11s ease-out, background-color .11s ease-out;
    font-size: 1em;

    &:focus {
        border-color: $gray;
        box-shadow: none;
    }

    &--dropdown {
        background-image: $icon-dropdown;
        background-position: right 10px center;
        background-size: 8px;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        cursor: pointer;
    }
    &--with-icon {
      background-size: 1.5rem;
      padding-left: 3rem;
      background-position: left 12px center;
      background-repeat: no-repeat;
      &-search {
        background-image: $icon-search;
      }
      &-file {
        background-image: $icon-file;
      }
      &-pass {
        padding-left: 14px;
        padding-right: 3rem;
      }
    }
    &--verif {
        // border-color: $primary;
        // letter-spacing: 1rem;
        // width: 160px;
        // margin: auto;
        // display: block;
        // font-size: 1.2rem;
        // text-align: center;
        border-color: $primary;
        width: 46px;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        display: inline-block;
        font-size: 1.2rem;
        text-align: center;
        padding-left: 0;
        &:focus {
            border-color: $primary;
        }
    }
}

/* ------------- Custom Inputs (Radio and Checkbox) -------------- */
.custom-input {
    &--radio-checker {
        cursor: pointer;
        margin: 0;

        & > input {
            display: none;

            &:checked + span {
                border-color: $primary;
                background-color: $primary;
                color: #fff;
            }
        }

        span {
            padding: 0;
        }

        &:first-child {
            .input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &:last-child {
            .input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &--checkbox-checker {
        cursor: pointer;
        margin: 0;

        & > input {
            display: none;

            &:checked + span {
                border-color: $primary;
                background-image: $icon-check-white;
                background-color: $primary;
                color: #fff;
            }
        }

        span {
            padding: 0 0 0 38px;
            background-image: $icon-check;
            background-position: left 12px center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
        }
    }

    &--small-checkbox {
        width: 100%;
        font-family: "OpenSans Regular";
        font-size: 0.9em;
        cursor: pointer;

        & > input {
            display: none;

            &:checked + span {
                border-color: $primary;
                background-color: $primary;
                color: #fff;
            }
        }

        span {
            width: 18px;
            height: 18px;
            padding: 0;
            background-image: $icon-check-white;
            background-position: center;
            background-size: 12px;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 6px;
        }
    }
}


/* ------------- Material Outlined Textfields (Input, Textarea) -------------- */
.md-textfield-outlined {
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-size: 1em;
    width: 100%;
    overflow: hidden;
    input, textarea {
        margin: 0;
        border: solid 1px;
        border-color: $primary;
        border-top-color: transparent;
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        line-height: inherit;
        // transition: border 0.2s, box-shadow 0.2s;  
        & + span {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            border-color: $primary;
            width: 100%;
            max-height: 100%;
            font-size: 10px;
            line-height: 13px;
            cursor: text;
            transition: color 0.2s, font-size 0.2s, line-height 0.2s;
            &::before, &::after {
                content: "";
                display: block;
                margin-top: 6px;
                border-top: solid 1px;
                border-top-color: $primary;
                min-width: 10px;
                height: 8px;
                pointer-events: none;
                // transition: border-color 0.2s, box-shadow 0.2s;
            }
            &::before {
                margin-right: 4px;
                border-left: solid 1px transparent;
                border-radius: 5px 0;
            }
            &::after {
                flex-grow: 1;
                margin-left: 4px;
                border-right: solid 1px transparent;
                border-radius: 0 5px;
            }
        }
    }

    &:hover {
        & > input, & > textarea {
            border-color: $primary;
            border-top-color: transparent;
            & + span {
                &::before, &::after {
                    border-top-color: $primary;
                }
            }
            &:not(:focus):placeholder-shown {
                border-color: $primary;
            }
            &:not(:focus):-moz-placeholder {
                border-color: $primary;
            }
            &:not(:focus):-ms-input-placeholder {
                border-color: $primary;
            }
            &:not(.focused) {
                border-color: $primary;
            }
        }
    }

    & > input, & > textarea {
        &:not(:focus):placeholder-shown {
            border-top-color: $primary;
            & + span {
                font-size: 1rem;
                line-height: 58px;
                &::before, &::after {
                    border-top-color: transparent;
                }
            }
        }
        &:not(:focus):-moz-placeholder {
            border-top-color: $primary;
            & + span {
                font-size: 1rem;
                line-height: 58px;
                &::before, &::after {
                    border-top-color: transparent;
                }
            }
        }
        &:not(:focus):-ms-input-placeholder {
            border-top-color: $primary;
            & + span {
                font-size: 1rem;
                line-height: 58px;
                &::before, &::after {
                    border-top-color: transparent;
                }
            }
        }
        &:not(.focused) {
            border-top-color: $primary;
            & + span {
                font-size: 1rem;
                line-height: 58px;
                &::before, &::after {
                    border-top-color: transparent;
                }
            }
        }

        &:focus, &.focused {
            border-color: $primary;
            border-top-color: transparent;
            outline: none;
            & + span {
                &::before, &::after {
                    border-top-color: $primary;
                }
            }
        }

        &:disabled {
            border-color: $lightgray;
            border-top-color: transparent !important;
            color: $lightgray;
            pointer-events: none;
            & + span {
                border-color: $lightgray !important;
                border-top-color: transparent !important;
                color: $lightgray;
                pointer-events: none;
                &::before, &::after {
                    border-top-color: $lightgray !important;
                }
            }
            &:placeholder-shown {
                border-top-color: $lightgray !important;
                & + span {
                    border-top-color: $lightgray !important;
                    &::before, &::after {
                        border-top-color: transparent !important;
                    }
                }
            }
            &:-moz-placeholder {
                border-top-color: $lightgray !important;
                & + span {
                    border-top-color: $lightgray !important;
                    &::before, &::after {
                        border-top-color: transparent !important;
                    }
                }
            }
        }
    }
}
/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .md-textfield-outlined > input,
        .md-textfield-outlined > input + span,
        .md-textfield-outlined > textarea,
        .md-textfield-outlined > textarea + span,
        .md-textfield-outlined > input + span::before,
        .md-textfield-outlined > input + span::after,
        .md-textfield-outlined > textarea + span::before,
        .md-textfield-outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}

