/* ------------- Alerts -------------- */
.wrapper {
    &--alerts {
        @include media-breakpoint-up(md) {
            @media only screen and (orientation: landscape) {
                min-height: 100vh;
                height: auto;
            }
            
        }
    }
}

.wrapper--alerts .second-nav {
    @include media-breakpoint-up(md) {
        margin-top: 0;
        // @media only screen and (orientation: portrait) {
        //     margin-top: -30px;
        // }
    }
}

.wrapper--alerts .card-group {
    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}
