// Icons:
$icon-area: url(../images/icon-area.svg);
$icon-room: url(../images/icon-room.svg);
$icon-bedroom: url(../images/icon-bedroom.svg);
$icon-photos: url(../images/icon-camera.svg);
$icon-mandate: url(../images/icon-mandate.svg);
$icon-bathroom: url(../images/icon-bathroom.svg);
$icon-shower: url(../images/icon-shower.svg);
$icon-kitchen: url(../images/icon-kitchen.svg);
$icon-eye: url(../images/icon-eye.svg);
$icon-favorite: url(../images/icon-favorite.svg);
$icon-favorite-orange: url(../images/icon-favorite-orange.svg);
$icon-favorite-added: url(../images/icon-favorite-added.svg);
$icon-favorite-d: url(../images/icon-favorite-d.svg);
$icon-favorite-added-b: url(../images/icon-favorite-added-b.svg);
$icon-favorite-added-d: url(../images/icon-favorite-added-d.svg);


// Global Button icons:
$icon-call: url(../images/icon-call.svg);
$icon-contact: url(../images/icon-mail.svg);
$icon-alert: url(../images/icon-alert.svg);
$icon-alert-d: url(../images/icon-alert-d.svg);
$icon-filters: url(../images/icon-filters.svg);


// Swiper button icons:
$icon-next-gray: url(../images/icon-next-gray.svg);
$icon-prev-gray: url(../images/icon-prev-gray.svg);
$icon-next-white: url(../images/icon-next-white.svg);
$icon-prev-white: url(../images/icon-prev-white.svg);

// Other icons: 
$icon-location: url(../images/icon-location.svg);
$icon-dropdown: url(../images/icon-dropdown.svg);
$icon-dropup: url(../images/icon-dropup.svg);
$icon-check: url(../images/icon-check.svg);
$icon-check-white: url(../images/icon-check-white.svg);
$icon-share: url(../images/icon-share.svg);
$icon-print: url(../images/icon-print.svg);

// Custom color system:
$orange-primary:#ee650d;
$orange-hover:#ff7c28;
$darkblue:#233034;
$darkgray:#484848;
$gray:#989696;
$lightgray:#dadada;