.footer {
  &--home {
    @include media-breakpoint-up(md) {
      width: 100%;
      &__bottom {
        height: 60px;
        border-top: 1px solid $orange;
      }
      &__nav,
      &__details{
        color:$darkgray;
        font-family: "Montserrat Regular";
        font-size: 0.9em;
      }
      &__details {
        text-align: center;
        margin-bottom: 24px;
        & > a,
        & > a:hover,
        & > a:active,
        & > a:focus,
        & > a:visited {
          outline:none;
          color:$orange;
        }
      }
      &__nav {
        padding-right: 40px;
        & > a,
        & > a:hover,
        & > a:active,
        & > a:focus,
        & > a:visited {
          outline:none;
          text-decoration: none;
          color:inherit;
        }
        & > a:first-child {
          margin-right: 24px;
        }
      }
    }
  }
  
  &--global {
    @include media-breakpoint-up(lg) {
      height: 86px;
      width: 100%;
      background: $darkblue;
      color:#fff;
      font-family: "Montserrat Regular";
      font-size: 0.9em;
      a,
      a:hover,
      a:active,
      a:focus {
        color:#fff;
      }
      &__details {
        text-align: center;
        a {
          text-decoration: underline;
        }
      }
    }
    &.footer--chat {
      @include media-breakpoint-up(md) {
        height: 86px;
        width: 100%;
        background: $darkblue;
        color:#fff;
        font-family: "Montserrat Regular";
        font-size: 0.9em;
        a,
        a:hover,
        a:active,
        a:focus {
          color:#fff;
        }
        &__details {
          text-align: center;
          a {
            text-decoration: underline;
          }
        }
        &.footer--chat-customer {
          position: absolute;
          bottom: 0;
        }
      }
      
    }
  }
}


