/* ------------- Icons -------------- */
.icon {
  background-color: transparent;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  &--area {
    background-image: $icon-area;
  }
  &--room {
    background-image: $icon-room;
  }
  &--bedroom {
    background-image: $icon-bedroom;
  }
  &--photos {
    background-image: $icon-photos;
  }
  &--mandate {
    background-image: $icon-mandate;
  }
  &--bathroom {
    background-image: $icon-bathroom;
  }
  &--shower {
    background-image: $icon-shower;
  }
  &--kitchen {
    background-image: $icon-kitchen;
  }
  &--favorite {
    background-image: $icon-favorite;
  }
  &--eye {
    background-image: $icon-eye;
  }
  &--favorite-orange {
    background-image: $icon-favorite-orange;
  }
  &--arrow {
    background-image: $icon-dropdown;
  }
  &--search {
    background-image: $icon-search;
  }
  &--search-white {
    background-image: $icon-search-white;
  }
  &--close {
    background-image: $icon-close;
  }
  &--close-white {
    background-image: $icon-close-white;
  }
  &--count {
    border-radius: 100%;
    background-color: $primary;
    width: 1rem;
    height: 1rem;
    color: $white;
    text-align: center;
    font-size: 10px;
    display: inline-flex;
    justify-content: center;
  }
  &--check-orange {
    background-image: $icon-check-orange;
    width: 1rem;
    height: 1rem;
    display: inline-block;
  }
}