/* ------------- Listing Pagination -------------- */
.paginator {
    padding-bottom: 70px;
    font-size: 0.8em;

    &__btn {
        cursor: pointer;
        height: 36px;
        text-align: center;
        padding: 0;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background-image: $icon-dropdown;
            background-position: center;
            background-size: 8px;
            background-repeat: no-repeat;
        }

        &--previous {
            padding-left: 6px;

            &:after {
                left: 6px;
                transform: rotate(90deg);
            }
        }

        &--next {
            padding-right: 6px;

            &:after {
                right: 6px;
                transform: rotate(-90deg);
            }
        }

        &:hover,
        &:active {
            background: $lightgray;
        }

        @include media-breakpoint-up(lg) {
            height: 46px;
        }
    }

    &__page {
        color: $darkgray;
        margin: 0 -16px;

        .input {
            height: 36px;
            width: auto;
            min-width: 40px;
            padding-left: 8px;
            background-position: right 6px center;
        }

        @include media-breakpoint-up(md) {
            .input {
                min-width: 60px;
            }
        }
    }
    @include media-breakpoint-up(lg) {
        font-size: 0.9em;
    }
}