.header {
    /* ------------- Navigation (Menu) -------------- */
    &__nav {
        transform: translateX(-100%);
        &--shown {
            transform: translateX(0);
        }
        &__top {
            .logo {
                margin-left: 0;
                margin-right: 16px;
            }
        } 
        &__item {
            text-align: right;
        }
        &__footer {
            text-align: right;
            left: auto;
            left: unset;
            right: 24px;
        }
    }
    /* ------------- Listing -------------- */
    &__logo {
        .logo {
            left: auto;
            left: unset;
            right: -32px;
        }
    }
    &__location__current {
        background-position: right 7px center;
        padding-left: 0;
        padding-right: 26px;
    }
    /* ------------- Advert -------------- */
    &--advert {
        .header__logo {
            .logo {
                right: 16px;
            }
        }
    }
    &__back {
        .input {
            padding: 0 22px 0 0; 
            &:after {
                left: auto;
                left: unset;
                right: 6px;
                transform: rotate(-90deg);
            }
        }
    }
}

@media (min-width: $md) {
    .header {
        /* ------------- Navigation (Menu) -------------- */
        &__nav {
          transform: translateX(0);
        }
    }
}

@media (min-width: $lg) {
    .header {
        &__logo {
            .logo {
                right: -54px;
            }
        }
    }
}

@media (min-width: $xl) {
    .header {
        &__logo {
            .logo {
                right: 40px;
            }
        }
    }
}