.header {
    /* ------------- Navigation (Menu) -------------- */
    &__nav {
        transform: translateX(-100%);
        &--shown {
            transform: translateX(0);
        }
        &__top {
            .logo {
                margin-left: 0;
                margin-right: 16px;
            }
        } 
        &__item {
            text-align: right;
        }
        &__footer {
            text-align: right;
            left: auto;
            left: unset;
            right: 24px;
        }
        @include media-breakpoint-up(md) {
            transform: translateX(0);
        }
    }
    /* ------------- Listing -------------- */
    &__logo {
        .logo {
            left: auto;
            left: unset;
            right: -32px;
        }

        @include media-breakpoint-up(lg) {
            .logo {
                right: -54px;
            }
        }
        @include media-breakpoint-up(xl) {
            .logo {
                right: 40px;
            }
        }
    }
    &__location__current {
        background-position: right 7px center;
        padding-left: 0;
        padding-right: 26px;
    }
    /* ------------- Advert -------------- */
    &--advert {
        .header__logo {
            .logo {
                right: 16px;
            }

            @include media-breakpoint-up(lg) {
                .logo {
                    right: 20px;
                }
            }
            @include media-breakpoint-up(xl) {
                .logo {
                    right: 40px;
                }
            }
        }
    }
    &__back {
        .input {
            padding: 0 22px 0 0; 
            &:after {
                left: auto;
                left: unset;
                right: 6px;
                transform: rotate(-90deg);
            }
        }
    }
}

.contact-form-area {
    @include media-breakpoint-up(lg) {
        padding-right: 0 !important;
        padding-left: 1rem !important;
    }
}