.btn {
  &--alert, &--call {
    left: auto;
    left: unset;
    right: 12px;
  }
  &--contact {
    right: auto;
    right: unset;
    left: 12px;
    background-position: center right 15px;
  }
}

@media (min-width: $lg) {
  .btn {
    &--alert {
      padding: 0 26px 0 0;
      background-position: right 0 center;
    }
  }
}