/* ------------- Choices Input -------------- */
.choices {
    &__inner {
        padding-left: 7.5px;
        padding-right: 36px;
        background-position: right 12px top 10px;
        text-align: right;
    }
    &[data-type*=select-multiple] .choices__button,
    &[data-type*=text] .choices__button {
        border-left: none;
        border-right: 1px solid #f99c63;
        margin: 0 8px 0 -4px;
    }
    &__list--multiple {
        .choices__item[data-deletable] {
            padding-left: 5px;
            padding-right: 10px;
        }
    }
    &__heading {
        text-align: right;
    }
}
/* ------------- Input -------------- */
.input {
    padding-left: 0;
    padding-right: 14px;
    &--dropdown {
        background-position: left 10px center;
    }
}
/*--------------------------------------------*/
/*                  Listing                   */
/*--------------------------------------------*/
.listing {
    &__sort {
        .input {
            padding-left: 0;
        }
    }
}
.content {
    &--listing {
        text-align: right;
    }
}
.item {
    &__icon-favorite {
        right: auto;
        right: unset;
        left: 0;
    }
    &__icon-photos {
        left: auto;
        left: unset;
        right: 8px;
        padding-left: 6px;
        padding-right: 24px;
        background-position: right 6px center;
    }
    &__added-date {
        left: auto;
        left: unset;
        right: 8px;
    }
    &__btn--contact-agent {
        right: auto;
        right: unset;
        left: 8px;
    }
}
/* ------------- Item Details (Main Bullets) -------------- */
.detail {
    &__item{
        &__icon {
            margin-right: 0;
            margin-left: 4px;
        }
    }
}

/* ------------- Filters -------------- */
.filters {
    transform: translateX(-100%);
    &--shown {
        transform: translateX(0);
    }
    &__header {
        padding-left: 0;
        padding-right: 16px;
        span {
            text-align: right;
        }
    } 
    &__group {
        text-align: right;
    }
}
/* ------------- Custom Inputs (Radio and Checkbox) -------------- */
.custom-input {
    &--radio-checker {
        &:first-child {
            .input {
                border-radius: 0 5px 5px 0;
            }
        }
        &:last-child {
            .input {
                border-radius: 5px 0 0 5px;
            }
        }
    }
    &--checkbox-checker {
        span {
            padding: 0 38px 0 0;
            background-position: right 12px center;
        }
    } 
    &--small-checkbox {
        span {
            margin-right: 0;
            margin-left: 6px;
        }
        &-wrapper {
            &:first-child {
                padding-right: 16px !important;
                padding-left: 0;
            }
            &:last-child {
                padding-left: 16px !important;
                padding-right: 0;
            }
        }
    }
}
/* ------------- Listing Pagination -------------- */
.paginator {
    &__btn {
        &--previous {
            padding-left: 0;
            padding-right: 6px;
            &:after {
                left: unset;
                right: 6px;
                transform: rotate(-90deg);
            }
        }
        &--next {
            padding-left: 6px;
            padding-right: 0;
            &:after {
                right: auto;
                right: unset;
                left: 6px;
                transform: rotate(90deg);
            }
        }
    }
    &__page {
        .input {
            padding-left: 0;
            padding-right: 8px;
            background-position: left 6px center;
        }
    }
}

/* ------------- Modal -------------- */
.modal {
    text-align: right;
}
/* ------------- Locations -------------- */
.locations {
    left: auto;
    left: unset;
    right: 0;
    &__header {
        padding-left: 0;
        padding-right: 16px;
        .choices__inner {
            right: 0;
            padding-right: 5px;
        }
    }
}

/*--------------------------------------------*/
/*                  Advert                   */
/*--------------------------------------------*/
.content-side {
    text-align: right;
}
.item {
    &-page__content {
        .item__btn-favorite {
            border-radius: 0 5px 5px 0;
            background-position: center right 14px;
        }
        .item__btn-share {
            border-radius: 5px 0 0 5px;
            border-left: 1px solid #dadada;
            border-right: none;
        }
    }
}
.copy__message {
    padding: 10px 42px 10px 20px;
    background-position: center right 17px;
}

@media (min-width: $md) {
    /* ------------- Choices Input -------------- */
    .choices {
        &__inner {
            padding-right: 42px;
            background-position: right 16px top 15px;
        }
    }
    /* ------------- Home -------------- */
    .content {
        &--home {
            &__form-area {
                text-align: right;
            }
        }
    }
    .title {
        &--home {
            text-align: right;
        }
    }
    .form {
        &__buttons-row {
            padding-left: 0;
            padding-right: 14px;
        }
    }
    .footer {
        &--home__nav {
            padding-right: 0;
            padding-left: 40px;
            & > a {
                display: inline-block;
                &:first-child {
                    margin-right: 0;
                    margin-left: 24px;
                }
            }
        }
    }
    /*--------------------------------------------*/
    /*                  Listing                   */
    /*--------------------------------------------*/

    /* ------------- Locations -------------- */
    .locations {
        &__header {
            .choices__inner {
                border-radius: 0 5px 5px 0;
            }
            .input--distance {
                border-radius: 5px 0 0 5px;
                min-width: 110px;
            }
            .choices {
                .choices__list--multiple {
                    .choices__item {
                        &:first-child {
                            margin-right: 0;
                            margin-left: 100%;
                        }
                    }
                } 
                .choices__counter {
                    right: auto;
                    right: unset;
                    left: 1px;
                    padding-left: 0;
                    padding-right: 22px;
                    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.92) 50%)
                }
            }
        }   
    }
    .listing {
        &__item--large {
            .item__short-description {
                &:after {
                    right: auto;
                    right: unset;
                    left: 0;
                    background: linear-gradient(90deg, white, rgba(255, 255, 255, 0));
                }
            }
        }
    }
    /* ------------- Filters -------------- */
    .filters {
        transform: translateX(0);
    }

}

@media (min-width: $lg) {
    /* ------------- Home -------------- */
    .content {
        &--home {
            &__logo {
                margin: 0 0 6px 30px;
            }
        }
    }

    /*--------------------------------------------*/
    /*                  Listing                   */
    /*--------------------------------------------*/
    .listing {
        &__item {
            &--large {
                .item__btn--contact-agent {
                    right: auto;
                    right: unset;
                    left: 10px;
                }
            } 
        }
    }
    /* ------------- Locations in Header -------------- */
    .locations {
        &__header {
            .choices__inner {
                padding-left: 5px;
                padding-right: 36px;
                background-position: right 12px top 10px;
            }
        }
    }
}
@media (min-width: $xl) {
    /* ------------- Locations in Header -------------- */
    .locations {
        &__header {
            .input--distance {
                min-width: 130px;
            }
        }
    }
}
