// Search block Animation:

.search-block {
    position: absolute;
    top: 0.5rem; 
    right: 1rem;
    height: calc(100% - 1rem);
    display: flex;
    justify-content: flex-end;
    transition: .44s ease-in;
    max-width: calc(100% - 44px);
    .form-wrap {
        width: 0;
        display: inline-block;
        overflow: hidden;
        position: relative;
        height: 100%;
        opacity: 0;
        transition: .55s ease-in;
    }
    input {
        height: 54px;
    }
      
    &.active {
        .form-wrap {
            width: calc(100% - 30px);
            opacity: 1;
        }
        .icon--search {
            transform: scale(0) rotate(90deg);
        }
        .icon--close { 
            transform: scale(1) rotate(0deg);
        }

        
    }

    @include media-breakpoint-up(sm) {
        max-width: calc(100% - 54px);
    }
    @include media-breakpoint-up(md) {
        max-width: calc(100% - 30px);
    }
  
  }

  .search-block .icon {
    width: 1.5rem;
    display: inline-block;
    height: 100%;
    
    will-change: transform;
    transition: 0.22s ease-in;
    cursor: pointer;
    &--search {
        margin-left: 0.5rem;
        transform: scale(1) rotate(0deg);
        
        @include media-breakpoint-up(md) {
            background-image: $icon-search-white;
        }
    }
    &--close {
        position: absolute;
        right: 0;
        transform: scale(0) rotate(-90deg);

        @include media-breakpoint-up(md) {
            background-image: $icon-close-white;
        }
    }
}