
/*** For IE ***/

@include media-breakpoint-up(lg) {
    @media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
      .contact-form-area{
        position: relative;
      }
      .chat {
        &-search {
            position: relative;
        }
       }
    }
  }
  
  @media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
    .listing__item--large .item__img--main img,
    .listing__item--large .item__img--miniatures-col img{
      min-width: 1px;
    }
  }
  
  @supports (-ms-ime-align:auto) {
    .listing__item--large .item__img--main img,
    .listing__item--large .item__img--miniatures-col img{
      min-width: 1px;
    }
  }
  
  
  /* ------------- iPhone 6, 7, & 8 Landscape for Gallery -------------- */
  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape){
    .modal-gallery .gallery-thumbs {
      display: none;
    }
    .modal-gallery .modal-body {
      max-width: 130vh;
      max-height: 90vh;
      margin: 5vh auto;
    }
    .modal.fade .btn--modal-close {
      right: 10px;
      left: auto;
    }
  }
  
  /* ------------- iPhone X, XS Max Landscape for Gallery -------------- */
  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 896px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : landscape) {
    .modal-gallery .gallery-thumbs {
      display: none;
    }
    .modal-gallery .modal-body {
      max-width: 140vh;
      max-height: 90vh;
      margin: 5vh auto;
    }
    .modal.fade .btn--modal-close {
      right: 10px;
      left: auto;
    }
  }